doctype html
html(lang="en")
    head
        
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title RICHARD APP
        meta(name="description" content="Richard App")

        link(rel="icon", href="/favicon.ico?v=2", type="image/x-icon")

        link(rel="stylesheet" href="/css/main.css?v=1")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        
        block head
        
        block navigation
     
    body
        header.dashboard-header
        .dashboard-container
            .dashboard-content
                block content